{% extends "base.twig" %}

{% block title %}Home | LSCoins{% endblock %}

{% block content %}
<h1 data-cy="home__welcomeMsg">LS COINS {{ username }}!</h1>
    <ul>
        <li><button name="home">Home</button></li>
        <li><button name="market">Market</button></li>
        <li ><button name="profile">Profile</button></li>
    </ul>
{% endblock %}
